
./manipulando-arquivos/.teste/.bundle


./manipulando-arquivos/.teste/db/*.sqlite3
./manipulando-arquivos/.teste/db/*.sqlite3-*


./manipulando-arquivos/.teste/log/*
./manipulando-arquivos/.teste/tmp/*
./manipulando-arquivos/.teste/!log/.keep
./manipulando-arquivos/.teste/!tmp/.keep


./manipulando-arquivos/.teste/tmp/pids/*
./manipulando-arquivos/.teste/!tmp/pids/
./manipulando-arquivos/.teste/!tmp/pids/.keep


./manipulando-arquivos/.teste/storage/*
./manipulando-arquivos/.teste/!storage/.keep

./manipulando-arquivos/.teste/public/assets
./manipulando-arquivos/.teste/.byebug_history


./manipulando-arquivos/.teste/config/master.key

./manipulando-arquivos/.teste/public/packs
./manipulando-arquivos/.teste/public/packs-test
./manipulando-arquivos/.teste/node_modules
./manipulando-arquivos/.teste/yarn-error.log
./manipulando-arquivos/.teste/yarn-debug.log*
./manipulando-arquivos/.teste/.yarn-integrity







./manipulando-arquivos/teste/.bundle


./manipulando-arquivos/teste/db/*.sqlite3
./manipulando-arquivos/teste/db/*.sqlite3-*


./manipulando-arquivos/teste/log/*
./manipulando-arquivos/teste/tmp/*
./manipulando-arquivos/teste/!log/.keep
./manipulando-arquivos/teste/!tmp/.keep


./manipulando-arquivos/teste/tmp/pids/*
./manipulando-arquivos/teste/!tmp/pids/
./manipulando-arquivos/teste/!tmp/pids/.keep


./manipulando-arquivos/teste/storage/*
./manipulando-arquivos/teste/!storage/.keep

./manipulando-arquivos/teste/public/assets
./manipulando-arquivos/teste/.byebug_history


./manipulando-arquivos/teste/config/master.key

./manipulando-arquivos/teste/public/packs
./manipulando-arquivos/teste/public/packs-test
./manipulando-arquivos/teste/node_modules
./manipulando-arquivos/teste/yarn-error.log
./manipulando-arquivos/teste/yarn-debug.log*
./manipulando-arquivos/teste/.yarn-integrity
