






./teste/.bundle


./teste/db/*.sqlite3
./teste/db/*.sqlite3-*


./teste/log/*
./teste/tmp/*
./teste/!log/.keep
./teste/!tmp/.keep


./teste/tmp/pids/*
./teste/!tmp/pids/
./teste/!tmp/pids/.keep


./teste/storage/*
./teste/!storage/.keep

./teste/public/assets
./teste/.byebug_history


./teste/config/master.key

./teste/public/packs
./teste/public/packs-test
./teste/node_modules
./teste/yarn-error.log
./teste/yarn-debug.log*
./teste/.yarn-integrity
